# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
  # default configuration for services in *this* file
  _defaults:
    autowire: true      # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

  # makes classes in src/ available to be used as services
  # this creates a service per class whose id is the fully-qualified class name
  App\:
    resource: '%kernel.project_dir%/src/'
    exclude:
      - '%kernel.project_dir%/src/DependencyInjection/'
      - '%kernel.project_dir%/src/Entity/'
      - '%kernel.project_dir%/src/SharedContext/Infrastructure/Symfony/Kernel.php'
      - '%kernel.project_dir%/src/Tests/'

  controllers:
    namespace: App\
    resource: '%kernel.project_dir%/src/*Context/Infrastructure/Controller/**/'
    tags: [ 'controller.service_arguments' ]

  App\SharedContext\Infrastructure\Bus\TacticianCommandBus:
    public: false
    arguments:
      - '@tactician.commandbus'

  tactician_handlers:
    namespace: App\*Context\Application\Command\
    resource: '%kernel.project_dir%/src/*Context/Application/Command/**/*Handler.php'
    tags:
      - { name: tactician.handler, typehints: true }

  # add more service definitions when explicit configuration is needed
  # please note that last definitions always *replace* previous ones
